<div class="column-layout column">
  <igx-card type="outlined" class="card_1">
    <igx-card-header>
      <h3 igxCardHeaderTitle></h3>
      <h5 igxCardHeaderSubtitle></h5>
    </igx-card-header>
    <igx-card-content class="content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions">
      <button igxButton="flat" [disabled]="false" class="button">
        <span>Button</span>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>favorite</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>bookmark</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>share</igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card_1">
    <igx-card-media height="400px">
      <img src="https://images.unsplash.com/photo-1561070791-2526d30994b5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnJhbmRpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle></h3>
      <h5 igxCardHeaderSubtitle></h5>
    </igx-card-header>
    <igx-card-content class="content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions">
      <button igxButton="flat" [disabled]="false" class="button">
        <span>Button</span>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>favorite</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>bookmark</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>share</igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card_1">
    <igx-card-media height="400px">
      <img src="https://images.unsplash.com/photo-1561070791-2526d30994b5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnJhbmRpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle></h3>
      <h5 igxCardHeaderSubtitle></h5>
    </igx-card-header>
    <igx-card-content class="content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions">
      <button igxButton="flat" [disabled]="false" class="button">
        <span>Button</span>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>favorite</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>bookmark</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>share</igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
</div>
<div class="row-layout row">
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle></h3>
      <h5 igxCardHeaderSubtitle></h5>
    </igx-card-header>
    <igx-card-content class="content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions">
      <button igxButton="flat" [disabled]="false" class="button">
        <span>Button</span>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>favorite</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>bookmark</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>share</igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle></h3>
      <h5 igxCardHeaderSubtitle></h5>
    </igx-card-header>
    <igx-card-content class="content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions">
      <button igxButton="flat" [disabled]="false" class="button">
        <span>Button</span>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>favorite</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>bookmark</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>share</igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-media height="400px">
      <img src="https://images.unsplash.com/photo-1561070791-2526d30994b5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnJhbmRpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle></h3>
      <h5 igxCardHeaderSubtitle></h5>
    </igx-card-header>
    <igx-card-content class="content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions">
      <button igxButton="flat" [disabled]="false" class="button">
        <span>Button</span>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>favorite</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>bookmark</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>share</igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle></h3>
      <h5 igxCardHeaderSubtitle></h5>
    </igx-card-header>
    <igx-card-content class="content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions">
      <button igxButton="flat" [disabled]="false" class="button">
        <span>Button</span>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>favorite</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>bookmark</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>share</igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-media height="400px">
      <img src="https://images.unsplash.com/photo-1561070791-2526d30994b5?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YnJhbmRpbmd8ZW58MHx8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60" />
    </igx-card-media>
    <igx-card-header>
      <h3 igxCardHeaderTitle></h3>
      <h5 igxCardHeaderSubtitle></h5>
    </igx-card-header>
    <igx-card-content class="content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions">
      <button igxButton="flat" [disabled]="false" class="button">
        <span>Button</span>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>favorite</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>bookmark</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>share</igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle></h3>
      <h5 igxCardHeaderSubtitle></h5>
    </igx-card-header>
    <igx-card-content class="content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions">
      <button igxButton="flat" [disabled]="false" class="button">
        <span>Button</span>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>favorite</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>bookmark</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>share</igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
  <igx-card type="outlined" class="card">
    <igx-card-header>
      <h3 igxCardHeaderTitle></h3>
      <h5 igxCardHeaderSubtitle></h5>
    </igx-card-header>
    <igx-card-content class="content">
      <p class="text"></p>
    </igx-card-content>
    <igx-card-actions class="actions">
      <button igxButton="flat" [disabled]="false" class="button">
        <span>Button</span>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>favorite</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>bookmark</igx-icon>
      </button>
      <button igxButton="icon" type="icon" [disabled]="false">
        <igx-icon>share</igx-icon>
      </button>
    </igx-card-actions>
  </igx-card>
</div>
