<div class="column-layout column">
  <div class="row-layout row">
    <div class="row-layout_4 row">
      <igx-icon font="material" [active]="true" class="icon">assignment</igx-icon>
      <h6 class="title">To do</h6>
    </div>
    <igx-avatar initials="3" bgColor="var(--igx-grays-300)" [roundShape]="true" size="small" class="avatar"></igx-avatar>
  </div>
  <igx-list class="list">
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Create brand guideline</h4>
      <p igxListLineSubTitle>Deadline: Nov 19, 2020</p>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">attachment</igx-icon>
    </igx-list-item>
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Preview app</h4>
      <p igxListLineSubTitle>Deadline: Nov 21, 2020</p>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">attachment</igx-icon>
    </igx-list-item>
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Indigo Cloud integration</h4>
      <p igxListLineSubTitle>Deadline: Nov 28, 2020</p>
    </igx-list-item>
  </igx-list>
</div>
<div class="column-layout column">
  <div class="row-layout_1 row">
    <div class="row-layout_4 row">
      <igx-icon font="material" [active]="true" class="icon">developer_board</igx-icon>
      <h6 class="title">In Development</h6>
    </div>
    <igx-avatar initials="5" bgColor="var(--igx-grays-300)" [roundShape]="true" size="small" class="avatar"></igx-avatar>
  </div>
  <igx-list class="list">
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Connect to DataSources</h4>
      <p igxListLineSubTitle>Deadline: Nov 29, 2020</p>
    </igx-list-item>
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar3.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Build app</h4>
      <p igxListLineSubTitle>Deadline: Nov 21, 2020</p>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">attachment</igx-icon>
    </igx-list-item>
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Data binding grid</h4>
      <p igxListLineSubTitle>Deadline: Nov 29, 2020</p>
    </igx-list-item>
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar8.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Copy-Paste update</h4>
      <p igxListLineSubTitle>Deadline: Nov 11, 2020</p>
    </igx-list-item>
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar3.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Main Dashboard Design</h4>
      <p igxListLineSubTitle>Deadline: Nov 11, 2020</p>
    </igx-list-item>
  </igx-list>
</div>
<div class="column-layout column">
  <div class="row-layout_2 row">
    <div class="row-layout_4 row">
      <igx-icon font="material" [active]="true" class="icon">assignment_late</igx-icon>
      <h6 class="title">Validation</h6>
    </div>
    <igx-avatar initials="4" bgColor="var(--igx-grays-300)" [roundShape]="true" size="small" class="avatar"></igx-avatar>
  </div>
  <igx-list class="list">
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Update samples</h4>
      <p igxListLineSubTitle>Deadline: Nov 12, 2020</p>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">attachment</igx-icon>
    </igx-list-item>
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Implement Floating Toolbar</h4>
      <p igxListLineSubTitle>Deadline: Nov 12, 2020</p>
    </igx-list-item>
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar3.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>App library</h4>
      <p igxListLineSubTitle>Deadline: Nov 10, 2020</p>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">attachment</igx-icon>
    </igx-list-item>
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar8.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Input update</h4>
      <p igxListLineSubTitle>Deadline: Nov 21, 2020</p>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">attachment</igx-icon>
    </igx-list-item>
  </igx-list>
</div>
<div class="column-layout_1 column">
  <div class="row-layout_3 row">
    <div class="row-layout_4 row">
      <igx-icon font="material" [active]="true" class="icon">check_circle</igx-icon>
      <h6 class="title">Done</h6>
    </div>
    <igx-avatar initials="5" bgColor="var(--igx-grays-300)" [roundShape]="true" size="small" class="avatar"></igx-avatar>
  </div>
  <igx-list class="list">
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar8.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Onboarding experience</h4>
      <p igxListLineSubTitle>Deadline: Nov 4, 2020</p>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">attachment</igx-icon>
    </igx-list-item>
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Design Specs</h4>
      <p igxListLineSubTitle>Deadline: Nov 5, 2020</p>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">attachment</igx-icon>
    </igx-list-item>
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar3.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Sketch Parser</h4>
      <p igxListLineSubTitle>Deadline: Nov 5, 2020</p>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">attachment</igx-icon>
    </igx-list-item>
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar6.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Github integration</h4>
      <p igxListLineSubTitle>Deadline: Nov 5, 2020</p>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">attachment</igx-icon>
    </igx-list-item>
    <igx-list-item class="list-item">
      <igx-avatar src="https://d3cg6cexo8t5ug.cloudfront.net/avatars/avatar2.png" [roundShape]="true" size="small" igxListThumbnail></igx-avatar>
      <h4 igxListLineTitle>Final Mockups</h4>
      <p igxListLineSubTitle>Deadline: Nov 5, 2020</p>
      <igx-icon font="material" [active]="true" igxListAction class="icon_1">attachment</igx-icon>
    </igx-list-item>
  </igx-list>
</div>
<button igxButton="fab" igxButtonBackground="var(--igx-success-500)" type="fab" [disabled]="false" class="floating-action-button">
  <igx-icon>add</igx-icon>
</button>
