:host {
  height: 100%;
  display: flex;
  align-items: stretch;
  overflow: auto;
}
.row-layout {
  background-color: #A249A5;
  min-height: 80px;
  padding: 16px 24px;
  height: 80px;
  align-items: center;
  min-width: 50px;
}
.row-layout_1 {
  background-color: #19AD87;
  min-height: 80px;
  padding: 16px 24px;
  height: 80px;
  align-items: center;
  min-width: 50px;
}
.row-layout_2 {
  background-color: #FE7659;
  min-height: 80px;
  padding: 16px 24px;
  height: 80px;
  align-items: center;
  min-width: 50px;
}
.row-layout_3 {
  background-color: #99B34D;
  min-height: 80px;
  padding: 16px 24px;
  height: 80px;
  align-items: center;
  min-width: 50px;
}
.column-layout {
  border-color: var(--igx-grays-100);
  border-width: 0px 3px 0px 0px;
  border-style: solid;
  align-items: stretch;
  min-width: 280px;
  background-color: var(--igx-grays-100);
  position: relative;
  min-height: 50px;
  flex: 1 1 0;
}
.column-layout_1 {
  align-items: stretch;
  min-width: 280px;
  background-color: var(--igx-grays-100);
  position: relative;
  min-height: 50px;
  flex: 1 1 0;
}
.card {
  margin: 16px;
  height: max-content;
}
.row-layout_4 {
  align-items: center;
  position: relative;
  min-height: 50px;
  flex: 1 1 0;
  min-width: 50px;
}
.card_1 {
  margin: 0 16px 16px;
  height: max-content;
}
.actions {
  min-height: 40px;
  min-width: 50px;
}
.floating-action-button {
  width: max-content;
  right: 24px;
  bottom: 24px;
  position: absolute;
  height: max-content;
}
.icon {
  width: 24px;
  height: 24px;
  flex: 0 0 auto;
  color: var(--igx-surface-500);
  font-size: 24px;
}
.button {
  min-width: min-content;
  height: max-content;
}
.title {
  margin: 8px;
  height: max-content;
  min-width: min-content;
  flex: 0 0 auto;
  white-space: pre-wrap;
  color: var(--igx-surface-500);
}
.avatar {
  background-color: var(--igx-grays-300);
  color: var(--igx-surface-500);
}
.row {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
